@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #F7F7F7;
    color: #606687;
}

header {
    padding-top: 40px;
}

.section {
    padding-bottom: 70px;
}

.slick-initialized .slick-slide {
    display: flex;
}

.logo-top {
    margin-top: -40px;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 18px;
    font-weight: 600;
    color: #606687;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:focus,
.nav-link:hover {
    color: #DF7355;
}

.btn-menu {
    background: #80D434;
    color: white;
    border-radius: 15px;
    border: 2px solid #4B7C1E;
    padding: 10px 23px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
}

.btn-menu:hover {
    background: #FA7451;
    color: white;
    border-radius: 15px;
    border: 2px solid #EA4335;
    padding: 10px 23px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
}

.btn-menu.show {
    background: #FA7451;
    color: white;
    border-radius: 15px;
    border: 2px solid #EA4335;
    padding: 10px 23px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #ffffff;
    --bs-dropdown-bg: #FA7451;
    --bs-dropdown-border-color: #EA4335;
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 1px 1px #000;
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #EA4335;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    box-shadow: 0px 0px 10px #828282;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 15px;
    clear: both;
    font-weight: 600;
    color: white;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
    transition: all 0.5s;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    background-color: #FA7451;
    padding-left: 10px;
    transition: all 0.5s;
}

.dropdown-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.btn-menu img {
    width: 37px;
    height: 37px;
}

.header-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-phone img {
    margin-right: 10px;
}

.header-phone div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-phone div a:first-child {
    text-decoration: none;
    color: #606687;
    font-weight: 700;
    font-size: 18px;
}

.header-phone div a:last-child {
    text-decoration: dotted underline #FA7451;
    color: #FA7451;
    font-weight: 400;
    font-size: 14px;
}

.header-cart-btn {
    position: relative;
}

.header-cart-btn span {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #FFCD03;
    border-radius: 50%;
    color: #606687;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.promo {
    margin: 85px 0px;
}

.menu-card {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px #8d8d8d;
    padding: 15px;
    margin-bottom: 30px;
}

.menu-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-card div span {
    font-size: 20px;
    color: #FA7451;
    font-weight: 700;
    margin-bottom: 20px;
}

.menu-card div a {
    font-size: 16px;
    color: #80D434;
    font-weight: 400;
    text-decoration: none;
}

.img-menu-card {
    width: 145px;
    height: 140px;
    margin-right: 20px;

}

.menu-card-small {
    display: flex;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px #8d8d8d;
    padding: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 14px;
    color: #606687;
    font-weight: 500;

}

.img-menu-card-small {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.promo-item {
    border-radius: 20px;
}

.promo-item img {
    border-radius: 20px;
}

.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.custom-prev {
    left: -50px;
}

.custom-next {
    right: -50px;
}

.setion-title {
    display: inline-block;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #80D434;
}

.setion-title::before {
    content: "";
    position: absolute;
    background: url(../img/decor-title.svg);
    width: 37px;
    height: 40px;
    top: -18px;
    left: -31px;
}

.slider-product-item {
    background: white;
    border-radius: 20px;
    border: 2px solid #E0E0E0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.slider-product-item-title {
    margin: 20px 0px;
    color: #FA7451;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 16px;
    text-decoration: none;
}

.slider-product-item span {
    font-size: 14px;
    font-weight: 400;
}

.slider-product-item-action {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.slider-item-prise {
    color: #80D434;
    font-weight: 400;
    font-size: 16px;
}

.slider-item-prise span {
    color: #80D434;
    font-weight: 600;
    font-size: 26px;
}

.slider-item-add-cart {
    display: flex;
    border: 2px solid #FA7451;
    border-radius: 7px;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    background: #fff;
}

.section-about-home {
    padding: 70px 0px;
    background: url("../img/bg-section-about.jpg");
    background-position: center;
    background-size: cover;
}

.about-home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-text {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

.big-phone {
    text-decoration: none;
    color: #606687;
    font-size: 40px;
    font-weight: 700;
}

.sale-item {
    border-radius: 20px;
    transition: transform .4s ease, opacity .4s ease;
    opacity: 0.5;
    transform: scale(0.75);
}

.sale-item.slick-active {
    opacity: 1;
    transform: scale(0.89);
    transition: transform .4s ease, opacity .4s ease;
}

.sale-section {
    margin: 70px 0px;
}

.seo-block {
    position: relative;
    margin: 30px auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seo-text-clip {
    position: relative;
    overflow: hidden;
    max-height: 120px;
    transition: max-height 0.6s ease;
}


.seo-text {
    opacity: 1;
    transition: opacity 0.3s ease;
}


.seo-fader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 56px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(247 247 247));
}


/* открытое состояние */
.seo-text-clip.is-open {
    max-height: 2000px;
}

.seo-text-clip.is-open .seo-text {
    opacity: 1;
}

.seo-text-clip.is-open .seo-fader {
    display: none;
}

.seo-toggle {
    display: block;
    margin-top: 12px;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    color: #80D434;
    text-decoration: dotted underline #80D434;
    border: none;
    background: #f7f7f7;
}


footer {
    background: #606687;
    padding: 40px 0px 15px 0px;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-intro-text {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.footer-intro-text-1 {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.footer-links-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links-section p {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 35px;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    display: block;
    margin-bottom: 8px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact-text p {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 35px;
}

.footer-contact-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact-text ul li {
    color: #fff;
    margin-bottom: 10px;
}

.footer-contact-text ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contact-text ul li img {
    margin-right: 10px;
}

.footer-link-2 {
    color: #80D434;
    text-decoration: dotted underline #80D434;
    font-size: 16px;
    font-weight: 300;
}

.footer-contact-icons {
    margin-top: 15px;
}

.footer-contact-icons a {
    margin-right: 15px;
}

.footer-contact-icons a img {
    width: 30px;
    height: 30px;
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: #9A9A9A;
    font-size: 13px;
}

.copy-text a,
.webart a {
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: #9A9A9A;
}

.webart a {
    font-weight: 900;
    color: #fff;
}

.crumb {
    margin-top: 80px;
    margin-bottom: 35px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #606687;
    font-size: 14px;
    font-weight: 400;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    height: 30px;
}

.breadcrumb-item.active {
    font-size: 14px;
    font-weight: 400;
    color: #FC7158;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.product-detals {
    background: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 10px #828282;
}

.product-image-slider img {
    border-radius: 20px;
}

.slick-dots {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    text-align: center;
    border-radius: 100%;
    opacity: 1;
    background: #80d434;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-dots li.slick-active button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    text-align: center;
    border-radius: 20px;
    opacity: 1;
    background: #FC7158;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.product-info {
    padding-left: 15px;
}

.product-title {
    color: #80E029;
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.product-title::before {
    content: "";
    position: absolute;
    background: url(../img/decor-title.svg);
    width: 37px;
    height: 40px;
    top: -18px;
    left: -31px;
}

.product-description {
    text-align: justify;
    color: #606687;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 36px;
    color: #80E029;
    font-weight: 700;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
}

.product-price span {
    font-size: 16px;
    color: #80E029;
    font-weight: 500;
}

.quantity-input {
    width: 80px;
    height: 55px;
    border: 2px solid #FC7158;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
}

.add-to-cart-btn {
    background: #FC7158;
    color: white;
    border-radius: 15px;
    border: 2px solid #EA4335;
    padding: 14px 23px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
    margin-left: 15px;
}

.add-to-cart-btn img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.product-quantity-section {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
}

.contact-page-info {
    background: #FC7158;
    border-radius: 20px;
    padding: 20px 40px;
    color: white;
}

.contact-page-info-item {
    padding-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 25px;
}

.contact-page-info-item:last-child {
    border-bottom: 0px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 0px;
}

.content-page-info-item-title {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
}

.content-page-info-item-title img {
    margin-right: 5px;
}

.content-page-info-item-title h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.contact-page-info-item span {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    display: block;
}

.contact-page-info-item ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.contact-page-info-item ul li {
    color: #fff;
    margin-bottom: 10px;
}

.contact-page-info-item ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-page-info-item ul li img {
    margin-right: 10px;
}
.contact-page-social-icons{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.contact-page-social-icons li a img {
    width: 40px;
    height: 40px;
}   

.contact-page-form{
padding: 40px;
background: #606687;
border-radius: 20px;
}
.contact-page-form h4{
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
input.form-control{
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: 400;   
}
.contact-page-form button {
    margin-top: 43px;
    display: block;
}
.green-btn {
    background: #80D434;
    color: white;
    border-radius: 15px;
    border: 2px solid #4B7C1E;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
}
.contact-page-map{
margin: 30px 0px;
box-shadow: 0px 0px 10px #828282;
border-radius: 20px;
}
.contact-page-map iframe{
    border-radius: 20px;
    width: 100%;
    height: 440px;
}
.review-form {
    padding: 70px;
    background: #606687;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.review-form::after{
    content: "";
    position: absolute;
    background: url(../img/decor-form-right.svg);
   width: 230px;
    height: 470px;
    top: -18px;
    right: -160px;
    z-index: 10;
}
.review-form::before {
    content: "";
    position: absolute;
    background: url(../img/decor-form-left.svg);
    width: 230px;
    height: 460px;
    top: -18px;
    left: -160px;
    z-index: 10;
}
.reviews-list{
display: flex;
flex-direction: column;
gap: 30px;
margin-bottom: 50px;
}
.review-item {
    background: #fff;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px #828282;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: row;
}
.review-item-header{
    display: flex;
    flex-direction: column;
}
.review-item-name {
    font-size: 20px;
    font-weight: 700;
    color: #80D434;
}
.review-item-date {
    font-size: 12px;
    font-weight: 400;
    color: #606687;
}
.review-item-body p{
    font-size: 16px;
    font-weight: 400;
    color: #606687;
    margin-top: 10px;
    text-align: justify;
}
.about-page-content {
    text-align: justify;
    color: #606687;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #828282;
    display: grid;
    grid-gap: 1em;
    margin-bottom: 50px;
    grid-template-columns: 165px 1fr;
    grid-auto-flow: dense;
}

/* --- Адаптивність --- */
@media (max-width: 1024px) {
    .about-page-content {
        grid-template-columns: 140px 1fr;
    }
}

@media (max-width: 768px) {
    .about-page-content {
        grid-template-columns: 1fr;
        text-align: left; /* або justify — як хочеш */
    }
}

@media (max-width: 480px) {
    .about-page-content {
        grid-template-columns: 1fr;
        font-size: 15px;
        grid-gap: 0.7em;
    }
}
.about-img-area{
background: #606687;
border-radius: 20px 0px 0px 20px;
width: 195px;
height: auto;
background-image: url(../img/about-page-img.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.about-page-text{
    padding: 40px;
}

.about-subtitle {
    font-size: 30px;
    font-weight: 700;
    color: #80D434;
    margin-bottom: 20px;
    padding-left: 10px;
    position: relative;
}

.about-subtitle span {
    font-size: 30px;
    color: #FC7158;
}


.about-subtitle::before {
    content: "";
    position: absolute;
    background: url(../img/decor-title.svg);
    width: 37px;
    height: 40px;
    top: -18px;
    left: -19px;
}